@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>New Book</h2>

<form method="post" action="/home/newbook">

    <input name="title" placeholder="title" />

    <button type="submit">Save</button>


</form>
